/*-----------------------------------------------------------*/
/* CSS cho playlist theo user*/

.list-container {
    position: absolute;
    background-color: #f1f1f1;
    padding: 5px 20px;
    border: 1px solid #ccc;
    max-width: 300px;
    display: none;
    margin: 0 auto;
}

.add-playlist-link {
    display: inline-block;
    margin-right: 5px;
    margin-left: 20px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    float: right;
}

.current-playlist-heading {
    display: inline-block;
    font-size: 18px;
}
.userPlaylist .list-item:hover{
    cursor:pointer;
    background-color:darkgray;
}
/* Add styling for the Save button */
.save-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}