@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="search-container">
    <form asp-action="SearchByGenre" asp-controller="Songs">
        <input type="text" name="keywords" class="search-input" placeholder="Search">
        <button type="submit" class="search-button">
            <img src="~/image/search.png" alt="Search" runat="server" />
        </button>
    </form>

</div>