@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<BTL_LWNC_WebAmNhac.Models.Playlist>

<div class="list-container" id="list-container">
    <!-- Your list content goes here -->
    <h3 class="current-playlist-heading">Current Playlist</h3>
    <a class="add-playlist-link" href="@Url.Action("Create", "Playlists")">Add Playlist</a>
    <div class="userPlaylist" id="userPlaylist">
    @foreach(var item in Model){
        <div class="list-item" id="@item.ID" data-id="@item.ID">
            @item.Name
        </div>
    }
        <!-- Save button -->
@*         <button type="button" class="save-button" onclick="savePlaylist()">Save</button> *@
    </div>
</div>



